<md-toolbar color="primary">

    <button md-button>
    <md-icon>menu</md-icon>
    </button>

    <h2>ZonMony</h2>

    <!-- This fills the remaining space of the current row -->
    <span class="rightToolbar"></span>
    <span>Right Aligned Text</span>
    <button md-button>
    <md-icon>more_vert</md-icon>
    </button>

</md-toolbar>

<!--
<p>
    By name registered with MdIconProvider:
    <md-icon svgIcon="thumb-up" class="green"></md-icon>
    <md-icon svgIcon="thumb-up"></md-icon>
</p>

<p>
    From icon set:
    <md-icon svgIcon="core:alarm"></md-icon>
    <md-icon svgIcon="core:accessibility"></md-icon>
    <md-icon svgIcon="core:alarm"></md-icon>
</p>

<p>
    Ligature from Material Icons font:
    <md-icon>menu</md-icon>
    <md-icon>restaurant_menu</md-icon>
</p>

<p>
    Using a theme:
    <md-icon color="primary">home</md-icon>
    <md-icon color="accent">home</md-icon>
    <md-icon color="warn">home</md-icon>
</p>

<p>
    Custom icon font and CSS:
    <md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>
</p>-->

<!-- 
  <md-toolbar>
      <div >
        <button >
          <md-icon>menu</md-icon>
        </button>
        <h2>
          <span>Toolbar with Disabled/Enabled Icon Buttons</span>
        </h2>
        <span></span>
        <button >
          <md-icon>favorite</md-icon>
        </button>
        <button >
          <md-icon>more-vert</md-icon>
        </button>
      </div>
    </md-toolbar>-->



<!--
<md-toolbar md-scroll-shrink>
               <div class="md-toolbar-tools">
                  <md-button class="md-icon-button" aria-label="Settings">
                     <md-icon class="material-icons">menu</md-icon>
                  </md-button>
                  <h2>
                     <span>Contacts</span>
                  </h2>
                  <span flex></span>
                  <md-button class="md-icon-button" aria-label="More">
                     <md-icon class="material-icons">more_vert</md-icon>
                  </md-button>
               </div>
            </md-toolbar>    -->