<h1>
  {{title}}
</h1>

<button md-button>FLAT</button>

<button md-raised-button>RAISED</button>

<button md-icon-button>

    <md-icon class="md-24">favorite</md-icon>

</button>

<button md-fab>

    <md-icon class="md-24">add</md-icon>

</button>

<button md-mini-fab>

    <md-icon class="md-24">add</md-icon>

</button>



<button md-raised-button color="primary">PRIMARY</button>

<button md-raised-button color="accent">ACCENT</button>

<button md-raised-button color="warn">WARN</button>


<br>
<p class="md-display-4">basic</p>
  
  <h1 class="md-display-3">Headline</h1>
<h2 class="md-display-1">Headline</h2>
<h3 class="md-headline">Headline</h3>

<br>

<md-card>
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-title>Card with title</md-card-title>   
   <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
   <md-card-actions align="end">
        <button md-raised-button color="primary">LIKE</button>
        <button md-raised-button color="accent">SHARE</button>
   </md-card-actions>
</md-card>

<br>        

<md-card class="md-display-4">
   <md-card-title-group>
       <md-icon class="md-24">favorite</md-icon>
      <md-card-title>Card with title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>