<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero===selectedHero">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
    </li>
</ul>


<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<!--
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details</h2>
    <div>
        <label for="">id:</label>{{selectedHero.id}}
    </div>
    <div>
        <label for="">name:</label>
        <input type="text" [(ngModel)]="selectedHero.name">
    </div>
</div>-->




<h2>My Expenses</h2>

<ul class="expenses">
    <li *ngFor="let expense of expenses">
        <span class="badge">{{expense.id}}</span>{{expense.folderName}} - {{expense.tabName}}
        <ul>            
            <li *ngFor="let p of expense.payments">
                {{p.amount}}
            </li>
        </ul>
    </li>
</ul>