<!--<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" class="col-1-4" [routerLink]="['/detail', hero.id]">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>-->
<!--<h2>My Expenses</h2>-->


<md-toolbar color="primary">
    <span>ZonMony</span>
    <span class="spacer"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
    <!--<button md-icon-button>-->
      <md-icon>more_vert</md-icon>
    </button>
     <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
</md-toolbar>


<app-groupingTest [data]='expenses'></app-groupingTest>    




<h2>My Expenses</h2>

<div *ngFor="let expense of expenses">
  <md-card>
    <md-card-subtitle>{{expense.folderName}}</md-card-subtitle>
    <md-card-title>{{expense.tabName}}</md-card-title>
    <md-card-content>
      <label for="">Note:</label>{{expense.tabNote}}
      <br>
      <div *ngIf="expense.url">
        <label for="">URL: </label><a href="{{expense.url}}">{{expense.url}}</a>
        <br>
      </div>
      <label for="">CREATED DTTM: </label> {{expense.createdDTTM | date:"short"}}
      <li *ngFor="let p of expense.payments">
        {{p.amount | currency:'USD':true }} , {{p.paymentDTTM | date:"short"}}
      </li>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary">LIKE</button>
      <button md-raised-button color="accent">SHARE</button>
    </md-card-actions>
  </md-card>
  <br>
</div>
