<!--Adding group here!!-->
<h4>Expense Group</h4>
<div>
    <div *ngFor="let group of groupExpenses">
        <md-card>
            <md-card-subtitle>
                {{group.folderName}}
            </md-card-subtitle>
            <div *ngFor="let expense of group.expenses">
                <md-card-title>
                    {{expense.tabName}}
                </md-card-title>
                <md-card-content>
                    <!--<md-input-container>
                        <label>Enter date</label>
                        <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                    </md-input-container>-->

                    <md-input-container>
                        <input md-input placeholder="Favorite food" value="Sushi">
                    </md-input-container>

                    <md-input placeholder="amount" align="end">
                        <span md-prefix>$&nbsp;</span>
                        <!--<span md-suffix>.00</span>-->
                    </md-input>

                    <label for="">Note:</label>{{expense.tabNote}}
                    <br>
                    <div *ngIf="expense.url">
                        <label for="">URL: </label><a href="{{expense.url}}">{{expense.url}}</a>
                        <br>
                    </div>
                    <label for="">CREATED DTTM: </label> {{expense.createdDTTM | date:"short"}}
                    <li *ngFor="let p of expense.payments">
                        {{p.amount | currency:'USD':true }} , {{p.paymentDTTM | date:"short"}}
                    </li>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="primary">LIKE</button>
                    <button md-raised-button color="accent">SHARE</button>
                </md-card-actions>
            </div>
        </md-card>
        <br>
    </div>
</div>


<!--<h4>{{ group.folderName }}</h4>
        <ul>
            <li *ngFor="let expense of group.expenses">
                {{ expense.tabName }}
            </li>
        </ul>
        <div>
        </div>


        <div *ngFor="let expense of expenses">
            <md-card>
                <md-card-subtitle>{{expense.folderName}}</md-card-subtitle>
                <md-card-title>{{expense.tabName}}</md-card-title>
                <md-card-content>
                    <label for="">Note:</label>{{expense.tabNote}}
                    <br>
                    <div *ngIf="expense.url">
                        <label for="">URL: </label><a href="{{expense.url}}">{{expense.url}}</a>
                        <br>
                    </div>
                    <label for="">CREATED DTTM: </label> {{expense.createdDTTM | date:"short"}}
                    <li *ngFor="let p of expense.payments">
                        {{p.amount | currency:'USD':true }} , {{p.paymentDTTM | date:"short"}}
                    </li>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button color="primary">LIKE</button>
                    <button md-raised-button color="accent">SHARE</button>
                </md-card-actions>
            </md-card>
            <br>
        </div>-->